.page {
    &__login {
        &-container {
            min-height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &-form {
            border-radius: 5px;
            overflow: hidden;
            height: 70vh;
            &--handle {

            }
            &--banner {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}